# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & Config
.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example

# Dependencies & Build Output
node_modules/
dist/
dist-ssr/
*.local
sol_data/
pb_data/
uploads/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
